.f-layout>.left-content {
    width: 70%;
    background: #F4F8FD;
}
.f-layout>.right-content {
    width: 30%;
    background: #F4F8FD;
}
.f-layout>.right-content .bg {
    margin-left: 20px;
    padding: 20px;
    background: #fff;
    height: 100%;
}
.wrap-box-video {
    position: relative;
}


/* Rounded sliders -----------------------*/

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch {
    top: -3px;
    left: -10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #000000;
}

input:focus+.slider {
    box-shadow: 0 0 1px #000000;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* sound ------------------------------ */
.tg-sound svg{
    height: 36px!important;
    width: 36px!important;
    cursor: pointer;
}
.tg-sound input{
    height: 0;
    width: 0;
    opacity: 0;
}
.tg-sound input:checked+.mute{
    display: none;
}
.tg-sound .mute{
    height: 30px;
    width: 15px;
    display: block;
    background: #ffffff;
    position: absolute;
    right: -2px;
    bottom: 14px;
    line-height: 30px;
}

/* -------- */
.box-tool{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 9;
}
.btn-close{
    height: 30px;
    width: 30px;
    background: #000;
    border-radius: 50%;
    display: inline-block;
    line-height: 31px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9;
}
.text-top{
    font-weight: 600;
}
.text-top .grey{
    color: #A5A2A2;
    margin-right: 10px;
}
.avt-wrap{
    width: 30%;
}
.avt{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.avt>img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.info-wrap .title svg{
    fill: #3399FF;
    height: 12px;
    width: 12px;
    padding: 1px;
    border: 1px solid #3399FF;
    border-radius: 50%;
}
.btn-follow{
    padding: 8px 60px;
    background: #3399FF;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
}
.tag{
    font-size: 13px;
}
.detail svg{
    width: 25px;
    height: 25px;
    fill: #2C2E37;
}
.detail .icon{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #F1F1F2;
    display: inline-block;
}
.detail{
    display: inline-block;
    color: #2C2E37;
    margin-right: 10px;
}
.share-box img{
    height: 30px;
    width: 30px;
}
.icon{
    margin-left: 10px;
}
.ifb{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #2C2E37;
    text-align: center;
    line-height: 30px;
    display: inline-block;
}
.ifb svg{
    height: 15px;
    width: 15px;
    fill: #ffffff;
}
/* ------------------ */
.dark-layer{
    border-radius: 12px 12px 0px 0px;
    width: 100%;
    padding: 20px;
    background: #F5F5F5;
    position: absolute;
    bottom: 56px;
}
.sm{
    height: 30px!important;
    width: 30px!important;
}
.avt-wrap-sm{
    width: 15%;
}
.rep{
    color: #B1B1B1;
}
.heart img{
    width: 20px;
    height: 20px;
    display: block;
    margin: 0 auto;
}
.heart{
    position: absolute;
    right: 0;
    top: 20px;
}
.more{
    color: #2C2E37;
    padding-left: 15%;
    padding-top: 15px;
    display: block;
}
.ask-box{
    background: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    border-radius: 12px;
}
.ask-box img{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 10px;
}
.ask-box input{
    width: calc(100% - 30px);
    background: #E8E8E8;
    border: none;
    box-shadow: none;
    padding: 10px 35px;
    border-radius: 12px;
}
.btn-photo{
    position: absolute;
    left: ;
    top: 9px;
}
.btn-smile{
    position: absolute;
    top: 9px;
    right: 35px!important;
}
.btn-send{
    position: relative;
    top: 9px;
}